.cards {
  max-width: calc(100% - 140px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  /* grid-template-rows: repeat(3,); */
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 70px;
}
.cards__more {
  display: flex;
  width: 320px;
  height: 36px;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid rgba(66, 66, 66, 1);
  border-radius: 5px;
  margin: 50px auto 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.cards__more:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 890px) {
  .cards {
    max-width: calc(100% - 60px);
    grid-row-gap: 45px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .cards {
    max-width: calc(100% - 20px);
    grid-template-columns: 100%;
    grid-row-gap: 36px;
  }
  .cards__more {
    width: 240px;
    height: 36px;
  }
}
